/* ========================= SECTION TITLE ========================= */
.section-title {
    margin-bottom: 30px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}